/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/

.menu {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

.food{
  width: 105%;
  padding-left: 5px;
  align-self: center;
  border-radius: 15%;
}

.add-button {
  align-self: center;
  border-radius: 20%;
}

.price-div {
  display: flex;
  justify-content: left;
  align-items: center;
}

.button-div {
  display: flex;
  justify-content: right;
  align-items: center;
}

.main-span {
  padding: 5%;
}

.bottom-span {
  padding-top: 5%;
}

.title {
  font-weight: bold;
}

.description {
  font-size: medium;
}

.right-panel {
  padding-top: 1%;
}

.main-header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20;
  font-weight: bold;
  color: darkred;
  text-align: center;
}

.secondary-header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17;
  font-weight: bold;
  color: darkgoldenrod;
  text-align: center;
}